@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Details for @Model.Name</h2>
<ul>
  @* example using (m)odel directive to display data *@
  <li> <span>@Html.DisplayNameFor(model => @Model.Name): @Html.DisplayFor(model => @Model.Name)</span> </li>
  @* example using (M)odel passed into the View to display data *@
  <li> <span>Hair Color: </span>@Model.HairColor </li>
  <li> <span>Hair Thickness: </span>@Model.HairThickness </li>
  <li> <span>Hair Length: </span>@Model.HairLength </li>
  <li> <span>Curly Hair? </span>
    @if (Model.Curly == true)
    {
      @(" Yes")
    }
    else 
    {
      @(" No")
    }
  </li>
    @if (ViewBag.Stylist  == null)
    {
      <p>Stylist name = @ViewBag.Stylist.Name</p>
    }
  <li> <span>Stylist: </span>@Html.ActionLink($"{@ViewBag.Stylist.Name}", "Details", "Stylists", new { id = ViewBag.Stylist.StylistId }) </li>
</ul>

<div class="nav-bar">
  <div class="nav-link">@Html.ActionLink("Add new client", "Create")</div>
  <div class="nav-link">@Html.ActionLink("Back to Stylists", "Index", "Stylists")</div>
  <div class="nav-link">@Html.ActionLink("Home", "Index", "Home")</div>
</div>
